<button aria-expanded="false" aria-label="Open menu navigation"> Menu </button>

<script>
  // variables
  const responsiveToggle = document.querySelector('[aria-label="Open menu navigation"]');

  // functions
  const openMenu = (toggle) => {
    toggle.setAttribute('aria-expanded', true);
    toggle.setAttribute('aria-label', 'Close menu navigation');
    toggle.innerHTML = 'Close';
  };

  const closeMenu = (toggle) => {
    toggle.setAttribute('aria-expanded', false);
    toggle.setAttribute('aria-label', 'Open menu navigation');
    toggle.innerHTML = 'Menu';
  };

  // execution
  responsiveToggle.addEventListener('click', () => {
    const mainNavigation = document.querySelector('[aria-label="Main Navigation"]');
    mainNavigation.classList.toggle('show');
    mainNavigation.classList.contains('show')
      ? openMenu(responsiveToggle)
      : closeMenu(responsiveToggle);
  });

  // check if responsive menu is open when resized and then remove
  window.addEventListener('resize', () => {
    const mainNavigation = document.querySelector('[aria-label="Main Navigation"]');
    if (
      mainNavigation.classList.contains('show') &&
      window.matchMedia('(min-width: 768px)').matches
    ) {
      mainNavigation.classList.remove('show');
      closeMenu(responsiveToggle);
    }
  });
</script>

<style>
  @media (min-width: 48em) {
    button {
      display: none;
    }
  }
</style>
